# Arquivos compilados do Java
*.class
out/
target/
build/
bin/

# Configuracao local do IntelliJ IDEA (nao vai para o GitHub)
.idea/
*.iml
*.iws
*.ipr

# Eclipse / VS Code
.classpath
.project
.settings/
.vscode/

# Sistema operacional
Thumbs.db
desktop.ini
.DS_Store
